.button {
  @include no-style;

  box-sizing: border-box;
  width: 280px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 10px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 35px;
}

.button--red {
  background-color: $bg-color;
  border-color: $color-red;

  color: $color-red;
}

.button--red:hover {
  background-color: $color-red;

  color: #ffffff;
}

.button--red:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--grey {
  background-color: $bg-color;
  border-color: $color-grey;

  color: rgba(40, 54, 69, 0.1);
}

.button--grey:hover {
  border-color: $navy-blue;

  color: $navy-blue;

  opacity: 0.3;
}

.button--grey:active {
  background-color: $navy-blue;

  color: rgba(255, 255, 255, 0.3);

  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .button {
    width: 260px;
    padding-top: 14px;
    padding-bottom: 17px;
  }
}
