.checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox__label {
  position: relative;

  padding-left: 40px;
  padding-bottom: 63px;

  font-size: 18px;
  color: #283645;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: #ffffff;

  border: 2px solid $border-color;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../img/icon-yes.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox__input:hover + .checkbox__label::before {
  border-color: $navy-blue;
}

.checkbox__input:active + .checkbox__label::before {
  border-color: $color-red;
}

.checkbox__input:checked:hover + .checkbox__label::before {
  border-color: $navy-blue;
}

.checkbox__input:checked:active + .checkbox__label::before {
  border-color: $color-red;
}
