.checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox__label {
  position: relative;

  padding-top: 2px;
  padding-left: 70px;
  padding-bottom: 0;

  font-size: 18px;
  color: #283645;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: #ffffff;

  border: 2px solid $border-color;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../img/icon-yes.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox__input:hover + .checkbox__label::before {
  border-color: $navy-blue;
}

.checkbox__input:active + .checkbox__label::before {
  border-color: $color-red;
}

.checkbox__input:checked:hover + .checkbox__label::before {
  border-color: $navy-blue;
}

.checkbox__input:checked:active + .checkbox__label::before {
  border-color: $color-red;
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    padding-left: 57px;
    margin-left: 60px;
  }
}
