.contacts {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 46px;s

  text-align: center;

  background-color: #ffffff;
}

.contacts__text {
  margin: 0;

  font-size: 24px;
  line-height: 31px;
  font-weight: 300;
}

.contacts__list {
  @include no-style;

  margin-top: 32px;
  padding-right: 20px;
  padding-left: 20px;
}

.contacts__item {
  margin-top: 0;
  margin-bottom: 23px;
  background-color: #ffffff;
}

.contacts__data {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  color: $color-red;
}

@media (min-width: $tablet-width) {
  .contacts {
    max-width: 660px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .contacts__item {
    width: 240px;
    margin-top: 44px;
    margin-bottom: 0;
  }

  .contacts__text {
    padding-right: 120px;
    padding-left: 120px;
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
  }

  .contacts__data {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    max-width: 960px;
    margin-top: 44px;
  }

  .contacts__list {
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
  }

  .contacts__item {
    margin-top: 20px;
  }

  .contacts__item:nth-child(2) {
    order: 2;
  }

  .contacts__text {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__data {
    margin-top: 23px;
  }
}
