.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: 660px
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}
