.contest-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  text-align: left;
}

.contest-form__wrapper {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

.contest-form__wrapper--darken {
  padding-bottom: 20px;

  background-color: $bg-color;
}


.contest-form__group {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0;
  padding: 0;

  border: none;
}

.contest-form__wrapper--name {
  margin-bottom: 22px;

  .form-item__input {
    margin-bottom: 19px;
  }
}

.contest-form__wrapper--progress {
  margin-top: 38px;
  padding-bottom: 18px;

  .contest-form__legend {
    padding-bottom: 0;
  }

  .contest-form__item {
    margin-top: 43px;
    padding-bottom: 13px;
  }

  .checkbox__label {
    padding-top: 2px;
  }
}

.contest-form__wrapper--contacts {
  margin-top: 35px;
  margin-bottom: 22px;

  .form-item__label {
    padding-bottom: 7px;
  }
}

.contest-form__wrapper--app {
  margin-top: 38px;
  margin-bottom: 21px;

  .contest-form__legend {
    padding-bottom: 0;
  }

  .contest-form__item {
    margin-top: 42px;
    padding-bottom: 9px;
  }

  .radio__label {
    margin-bottom: 0;
  }
}

.contest-form__wrapper--emotions {
  margin-top: 38px;
  margin-bottom: 50px;

  .contest-form__legend {
    padding-bottom: 0;
  }

  .contest-form__review {
    margin-top: 17px;
  }
}

.contest-form__legend {
  width: 240px;
  padding-bottom: 46px;

  line-height: 18px;
  color: $color-red;

  text-transform: uppercase;
  text-align: center;
}

.contest-form__legend--none {
  display: none;
}

.contest-form__review {
  width: 280px;
  padding-top: 14px;
  padding-right: 19px;
  padding-bottom: 120px;
  padding-left: 19px;

  font-size: 18px;
  line-height: 30px;
  color: #283645;

  border: 2px solid $color-grey;
}

.contest-form__submit {
  width: 320px;
}

.contest-form__submit p {
  width: 220px;
  margin: 0 auto;
  margin-top: 38px;

  text-transform: uppercase;
  text-align: center;
}

.contest-form__submit span {
  color: $color-red;
}

.main__full {
  display: none;
}

@media (min-width: $tablet-width) {
  .contest-form {
    flex-direction: column;
    width: 660px;
    margin: 0 auto;
    margin-bottom: 68px;
  }

  .contest-form__group {
    width: 100%;

    border: 2px solid $color-grey;
  }

  .contest-form__group--none {
    border: none;
  }

  .contest-form__wrapper {
    width: 660px;
    margin-bottom: 1px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .contest-form__wrapper--darken {
    background-color: #ffffff;
  }

  .contest-form__submit {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin-right: 20px;
    margin-left: 20px;

    order: 5;
  }

  .contest-form__legend {
    width: auto;
    padding-right: 25px;
    padding-left: 25px;
  }

  .contest-form__legend--none {
    display: inline;
  }

  .contest-form__submit p {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;

    text-align: end;
  }

  .contest-form__review {
    width: 500px;
    margin: 0 auto;
  }

  .contest-form__wrapper--name {
    order: 0;
    margin-bottom: 0;

    .form-item__input {
      margin-bottom: 0;
    }
  }

  .contest-form__wrapper--progress {
    order: 3;
    margin-top: 38px;
    padding-bottom: 49px;

    .contest-form__legend {
      padding-bottom: 0;
    }

    .contest-form__item {
      margin-top: 49px;
      padding-bottom: 7px;
    }

    .checkbox__label {
      padding-top: 2px;
    }
  }

  .contest-form__wrapper--contacts {
    order: 2;
    margin-top: 35px;
    margin-bottom: 22px;
    padding-bottom: 37px;

    .contest-form__group {
      padding-top: 37px;
    }

    .contest-form__legend {
      padding-bottom: 0;
    }

    .contest-form__item {
      position: relative;

      margin: 0 auto;
    }

    .form-item {
      display: flex;
      width: 495px;
      margin-bottom: 31px;
    }

    .form-item__input {


      order: -1;
      width: 440px;
      padding-right: 75px;
    }

    .form-item__label::after {
      content: "";

      position: absolute;
      top: 2px;
      right: 2px;

      width: 59px;
      height: 59px;

      background-color: $color-grey;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32%;
    }

    .form-item__label[for="phone"]::after {
      background-image: url("../img/icon-phone.svg");
    }

    .form-item__label[for="mail"]::after {
      background-image: url("../img/icon-mail.svg");
    }

    .form-item__label {
      padding-top: 13px;
      padding-left: 17px;
      padding-bottom: 0;
    }
  }

  .contest-form__wrapper--app {
    order: 1;
    width: 660px;
    margin-top: 1px;
    margin-bottom: 21px;
    padding-bottom: 31px;

    .contest-form__legend {
      margin-bottom: 30px;
    }

    .contest-form__item {
      margin-top: 21px;
      padding-bottom: 30px;
    }

    .radio__label {
      margin-bottom: 0;
    }
  }

  .contest-form__wrapper--emotions {
    order: 4;
    margin-top: 38px;
    margin-bottom: 59px;
    padding-bottom: 50px;

    .contest-form__legend {
      padding-bottom: 0;
    }

    .contest-form__review {
      margin-top: 38px;
      padding-bottom: 115px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contest-form {
    flex-direction: unset;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-top: 8px;
  }

  .contest-form__wrapper {
    width: 940px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  .contest-form__group {
    width: 940px;
  }

  .contest-form__wrapper--half {
    width: 435px;
    margin: 0;

    .contest-form__group {
      width: 435px;
    }
  }

  .contest-form__wrapper--up {
    margin-top: -14px;
  }

  .contest-form__wrapper--app {
    .contest-form__group {
      padding-bottom: 38px;
    }

    .contest-form__item {
      margin-top: 25px;
      padding-bottom: 25px;
    }
  }

  .contest-form__legend {
    padding-bottom: 0;
  }

  .contest-form__wrapper--contacts {
    margin-bottom: 22px;
    .contest-form__inner {
      display: flex;
      justify-content: center;
    }

    .contest-form__item {
      width: 375px;
      margin-right: 36px;
      margin-bottom: 14px;
      margin-left: 33px;
    }

    .form-item__label {
      padding-top: 11px;
      padding-left: 20px;
    }
  }

  .contest-form__wrapper--progress {
    margin-bottom: 9px;

    .contest-form__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      margin-top: 48px;
      margin-left: 40px;
      padding-right: 20px;
      padding-bottom: 7px;
    }

    .contest-form__item {
      width: 270px;
      margin: 0;
      margin-bottom: 49px;
    }

    .contest-form__item:nth-child(2n+1) {
      order: -1;
    }
  }

  .contest-form__wrapper--emotions {
    padding-bottom: 66px;

    .contest-form__group {
      padding-bottom: 44px;
    }

    .contest-form__review {
      width: 820px;
      padding-bottom: 46px;
    }
  }

  .contest-form__submit {
    width: 100%;
    margin: 0;

    p {
      width: 400px;
    }

    .main__full {
      display: inline;
      color: $navy-blue;
    }
  }
}
