.contest-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  text-align: left;
}

.contest-form__wrapper {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
}

.contest-form__wrapper--darken {
  padding-top: 38px;
  background-color: $bg-color;
}

.contest-form__group {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0;
  padding: 0;

  border: none;
}

.contest-form__legend {
  width: 240px;

  line-height: 18px;
  color: $color-red;

  text-transform: uppercase;
  text-align: center;
}

.contest-form__review {
  width: 100%;
  padding: 20px;
  padding-bottom: 120px;

  font-size: 18px;
  line-height: 30px;
  color: #283645;

  border: 2px solid $color-grey;
}

@media (min-width: $tablet-width) {
  .contest-form {
    flex-direction: column;
  }

  .contest-form__group {
    width: 100%;

    border: 2px solid $color-grey;
  }

  .contest-form__group--none {
    border: none;
  }

  .contest-form__wrapper {
    margin-bottom: 8px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .contest-form__wrapper--darken {
    background-color: #ffffff;
  }

  .contest-form__wrapper--half {
    order: -1;
  }

  .contest-form__submit {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
  }

  .contest-form__legend {
    width: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .contest-form {
    flex-direction: unset;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .contest-form__wrapper {
    width: 936px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  .contest-form__wrapper--half {
    width: 435px;
    margin: 0;
  }

  .contest-form__wrapper--up {
    margin-top: -14px;
  }

  .contest-form__submit {
    width: 100%;
    margin: 0;
  }
}

