.description {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding-top: 39px;

  text-align: center;

  align-items: center;
  background-color: #ffffff;
}

.description__sign {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 27px;
  margin-left: 0;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.description__sign br {
  display: none;
}

.description__list {
  @include no-style;

  position: relative;

  flex-direction: column;
  width: 310px;
  margin: 0 auto;
  padding-top: 79px;
  padding-right: 20px;
  padding-bottom: 287px;
  padding-left: 20px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 507px;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 50%;
  }
}

.description__wrapper {
  position: relative;

  width: 100%;
  margin-top: 6px;

  background-color: $bg-color;
}

.description__wrapper::before {
  content: "";

  position: absolute;
  top: 0;

  display: block;
  height: 100%;
  width: 100%;
  left: 0;

  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.description__item {
  margin: 0;
  margin-bottom: 31px;
}

.description__text {
  margin: 0;
  margin-top: 12px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .description {
    width: 660px;
    padding-top: 50px;
  }

  .description__wrapper {
    margin-top: 45px;
  }

  .description__sign {
    margin: 0;
    padding-top: 0;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 0;

    font-size: 40px;
    line-height: 48px;
  }

  .description__sign br {
    display: inline;
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    width: 660px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 26px;

    background: none;
  }

  .description__wrapper::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 20px;

    width: 268px;
    height: 480px;
    padding-bottom: 0;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  .description__item {
    width: 310px;
    margin-top: 19px;
    margin-bottom: 16px;
    padding: 0;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .description {
    width: 100%;
    padding-top: 66px;
  }

  .description__sign {
    padding-right: 0;
    padding-left: 0;

    font-size: 50px;
    line-height: 61px;
    font-weight: 300;
  }

  .description__wrapper {
    width: 100%;
    margin-top: 74px;

    background-color: #f2f2f2;
  }

  .description__wrapper::after {
    display: none;
  }

  .description__wrapper::before {
    height: 24%;
  }

  .description__list {
    justify-content: space-between;
    flex-direction: row;
    width: 940px;
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  .description__item {
    width: 240px;
    margin-top: 0;
    padding-top: 320px;

    text-align: center;

    background-repeat: no-repeat;
    background-position: center top;
    background-size: 120%;
  }

  .description__item:first-child {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
  }

  .description__item:nth-child(2) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }

  .description__item:last-child {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }

  .description__item h3 {
    font-size: 30px;
    line-height: 30px;
  }

  .description__text {
    margin-top: 25px;
    font-size: 18px;
    line-height: 30px;
  }
}
