.description {
  display: flex;
  flex-direction: column;
  padding-top: 36px;

  text-align: center;

  align-items: center;
  background-color: #ffffff;
}

.description__sign {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 22px;
  margin-left: 0;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.description__sign br {
  display: none;
}

.description__list {
  @include no-style;

  margin-top: 86px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f2f2f2;
}

.description__text {
  margin-top: 12px;
  margin-bottom: 31px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .description__sign {
    margin: 0;
    padding-top: 0;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 0;

    font-size: 40px;
    line-height: 40px;
  }

  .description__sign br {
    display: inline;
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 50px;
  }

  .description__item {
    width: 51%;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .description__sign {
    font-size: 50px;
    line-height: 63px;
    font-weight: 300;
  }

  .description__wrapper {
    width: 100%;
    margin-top: 50px;

    background-color: #f2f2f2;
  }

  .description__list {
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
  }

  .description__item {
    width: 240px;
    text-align: center;
  }

  .description__item h3 {
    font-size: 30px;
    line-height: 30px;
  }

  .description__text {
    font-size: 18px;
    line-height: 30px;
  }
}
