.download-app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 30px;
  align-items: center;

  background-color: #1d2631;
}

.download-app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-app h2 {
  display: none;
}

.download-app__sign {
  margin-right: 20px;
  margin-left: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.download-app__btn {
  color: #ffffff;
}

.download-app__btn:hover {
  background-color: #ffffff;

  color: $color-red;
}

.download-app__btn:active {
  background-color: #ffffff;

  color: rgba(210, 40, 86, 0.3);
}

.download-app__os {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin-top: 34px;
  margin-bottom: 19px;
}

.download-app__market-btn {
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .download-app {
    flex-direction: row;
    padding-top: 63px;
    padding-right: 20px;
    padding-bottom: 110px;
    padding-left: 20px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .download-app__wrapper {
    width: 300px;
  }

  .download-app h2 {
    display: block;
    margin-right: 55px;
    margin-left: 55px;

    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
  }

  .download-app__btn {
    width: 300px;
    margin-bottom: 12px;
  }

  .download-app__os {
    margin-bottom: 34px;
  }

  .download-app__sign {
    margin: 0;

    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .download-app {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .download-app__wrapper h2 {
    font-size: 50px;
    line-height: 63px;
  }

  .download-app__btn {
    width: 100%;
  }

  .download-app__sign {
    margin: 0;

    font-size: 18px;
    line-height: 24px;
  }
}
