.footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  text-align: center;
}

.footer--none {
  display: none;
}

.footer__logo {
  padding-top: 40px;
  padding-bottom: 34px;
}

.footer__logo:hover .footer__logo-letter {
  fill: $color-red;
}

.footer__logo:active {
  opacity: 0.3;

  .footer__logo-letter {
    fill: $navy-blue;
  }
}

.footer__social {
  @include no-style;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 37px;
}

.footer__social li {
  margin-right: 6px;
  margin-left: 6px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;

  border: 2px solid rgba(40, 54, 69, 0.1);
  border-radius: 23px;
}

.footer__social-link:hover {
  border-color: $navy-blue;
}

.footer__social-link:active {
  opacity: 0.1;
}

.footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.footer__developer:hover path {
  fill: $navy-blue;
}

.footer__developer:active {
  svg {
    opacity: 0.3;
  }

  path {
    fill: $navy-blue;
  }
}

.footer__developer span {
  padding-right: 15px;

  font-size: 14px;
  color: $navy-blue;
}

@media (min-width: $tablet-width) {
  .footer--none {
    display: flex;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
    margin: 0 auto;
    padding-top: 29px;
    padding-right: 20px;
    padding-bottom: 36px;
    padding-left: 20px;
  }

  .footer__logo {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer__developer {
    margin-top: 6px;
    padding-bottom: 0;
  }

  .footer__social {
    justify-content: space-between;
    width: 177px;
    margin-top: 6px;
    margin-left: -17px;
    padding-bottom: 0;
  }

  .footer__social li {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 63px;
    padding-right: 10px;
    padding-bottom: 73px;
    padding-left: 10px;
  }

  .footer__developer {
    font-size: 18px;
  }

  .footer__social {
    width: 175px;
    margin-top: 5px;
    margin-left: 6px;
  }

  .footer__developer span {
    padding-right: 14px;

    font-size: 18px;
  }
}
