.footer {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.footer--none {
  display: none;
}

.footer__logo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__social {
  @include no-style;

  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__social-link {
  padding-right: 5px;
  padding-left: 5px;
}

.footer__developer {
  padding-bottom: 40px;

  font-size: 14px;
  color: $navy-blue;
}

@media (min-width: $tablet-width) {
  .footer--none {
    display: flex;
  }

  .footer {
    margin-right: 20px;
    margin-left: 20px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    margin: 0;
  }

  .footer__developer {
    font-size: 18px;
  }
}
