.header-main {
  width: 320px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;

  background-color: #283645;
}

.header-main__heading {
  background-color: $navy-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -65px;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.header-main__heading h1 {
  max-width: 320px;
  min-height: 170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  line-height: 30px;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .header-main {
    width: 660px;
  }

  .header-main__heading {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 180%;
    background-position: center -43px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .header-main__heading h1 {
    max-width: 660px;
    min-height: 329px;
    padding-top: 66px;

    font-size: 50px;
    line-height: 63px;
  }
}

@media (min-width: $desktop-width) {
  .header-main {
    width: 100%;
  }

  .header-main__logo {
    margin: 0;
    padding: 0;
  }

  .header-main__heading {
    margin-top: -110px;
    padding-top: 102px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 212%;
    background-position: center 2px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .header-main__heading h1 {
    max-width: 930px;
    min-height: 293px;
    padding-top: 70px;
    padding-bottom: 97px;
  }
}
