.header-main {
  width: 320px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;

  background-color: #283645;
}

@media (min-width: $tablet-width) {
  .header-main {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .header-main {
    width: 100%;
    min-width: 960px;
  }

  .header-main__logo {
    margin: 0;
    padding: 0;
  }
}
