.logo {
  width: 147px;
  margin-left: -72px;
}

.logo:hover:not(.logo--active) g,
.logo:hover:not(.logo--active) path,
.logo:focus:not(.logo--active) g,
.logo:focus:not(.logo--active) path {
  fill: $color-red;
}

.logo:active:not(.logo--active) {
  .icon-header {
    opacity: 0.3;
  }

  g,
  path {
    fill: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    margin-left: 0;
  }
}
