.main {
  margin-bottom: 19px;
}

.main__description {
  width: 280px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 23px;

  text-align: center;
  line-height: 30px;
}

.main__description--photo {
  width: 245px;
}

.main__title {
  width: 276px;
  margin: 0 auto;
}

.main__description span {
  display: none;
}

.main__posts {
  margin: 0 auto;
}

.main__btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 17px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
}

.main__btn:hover {
  background-color: #1c9b5e;
}

.main__btn:active {
  background-color: #1c9b5e;

  color: rgba(255, 255, 255, 0.7);
}

.main__btn:disabled {
  background-color: $border-color;
}

@media (min-width: $tablet-width) {
  .main__heading {
    max-width: 660px;
    padding-top: 66px;
    padding-bottom: 75px;

    font-size: 50px;
    line-height: 63px;
  }

  .main__description {
    width: 660px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 28px;
    padding-top: 52px;
    padding-right: 80px;
    padding-bottom: 36px;
    padding-left: 80px;

    font-size: 18px;
  }

  .main__description span {
    display: inline;
  }

  .main__description br {
    display: none;
  }

  .main__posts {
    padding-right: 0;
    padding-left: 0;
  }

  .main__btn {
    width: 300px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main__heading {
    max-width: 1200px;
  }

  .main__description {
    width: 800px;
    margin-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
  }

  .main__description--photo {
    width: 640px;
  }

  .main__description br {
    display: inline;
  }

  .main__title {
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
  }

  .main__publication {
    margin: 0 auto;
  }

  .main__btn {
    width: 300px;
    padding-top: 17px;
    padding-right: 55px;
    padding-bottom: 16px;
    padding-left: 55px;
  }
}
