.menu {
  @include no-style;
}

.menu__item a {
  display: block;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;

  color: #ffffff;

  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px #000000;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  .menu__item a {
    border: none;
  }
}
