.minor-title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #000000;
}

.minor-title--higher {
  line-height: 30px;
}

@media (min-width: $desktop-width) {
  .minor-title {
    margin-top: 20px;

    font-size: 24px;
  }
}
