.post {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  text-align: left;
  background-color: $bg-color;
}

.post__image {
  width: 100%;
  padding-bottom: 11px;
}

.post__description {
  margin: 0;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.post__author {
  padding-bottom: 10px;

  font-weight: 700;
}

.post__time {
  font-size: 12px;
  text-transform: uppercase;
}

.post__comment {
  margin: 0;
  padding-bottom: 8px;
}

.post__like {
  position: relative;

  display: inline-block;
  margin-left: 31px;

  font-size: 12px;
  color: $color-red;

  text-transform: uppercase;
}

.post__like::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -31px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.posts__item--prime .post__image {
  width: 100%;
  padding-bottom: 0;
}

.posts__item--prime .post__description {
  width: 280px;
  margin: 0 auto;
  padding-top: 18px;
  padding-right: 17px;
  padding-left: 17px;

  background-color: $bg-color;
}

@media (min-width: $tablet-width) {
  .post {
    width: 300px;
    padding: 0;
  }

  .posts__item--prime {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;

    background-color: #ffffff;
  }

  .post__image {
    width: 100%;
    padding: 0;
  }

  .post__description {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    margin: 0;
    padding-top: 17px;
    padding-right: 27px;
    padding-bottom: 25px;
    padding-left: 27px;
  }

  .post__wrapper {
    position: relative;
  }

  .post__like {
    margin-left: 0;
  }

  .post__like::before {
    left: 228px;
  }

  .posts__item--prime {
    .post__image {
      min-height: 509px;
    }

    .post__description {
      width: 620px;
      min-height: auto;
      padding-top: 23px;
      padding-right: 27px;
      padding-bottom: 17px;
      padding-left: 27px;

      background-color: $bg-color;
    }

    .post__like {
      position: absolute;
      top: 25px;
      right: 59px;
    }

    .post__like::before {
      left: 110px;
    }
  }
}

@media (min-width: $desktop-width) {
  .post {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 52px;
  }

  .posts__item--prime {
    margin-right: 0;
    margin-left: 0;

    .post__image {
      width: 100%;
      margin: 0 auto;
    }

    .post__description {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 940px;
      margin: 0 auto;
      padding-bottom: 16px;
    }

    .post__comment {
      order: 1;
    }
  }
}
