.posts {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .posts {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .posts {
    justify-content: center;
  }
}
