.posts {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  margin-top: 26px;
}

.posts__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.posts__item--prime {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.posts__panorama-sign {
  position: absolute;
  top: 5px;

  width: 300px;

  text-align: right;
}

.posts__panorama-sign span {
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 19px;

  background-color: $color-red;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .posts {
    width: 660px;
    margin-top: 13px;
  }

  .posts__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 620px;
    margin-top: 30px;
  }

  .posts__panorama-sign {
    top: 62px;

    width: 640px;
  }
}

@media (min-width: $desktop-width) {
  .posts {
    justify-content: center;
    width: 100%;
  }

  .posts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 940px;
    margin-top: 50px;
  }

  .posts__item {
    margin: 0;
  }

  .posts__panorama-sign {
    top: 59px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 940px;
  }
}
