.posts {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.posts__wrapper {
  width: 280px;
  margin: 0 auto;
}

.posts__item--prime {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.posts__panorama-sign {
  position: absolute;
  right: 0;

  margin-right: 20px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;

  background-color: $color-red;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .posts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .posts {
    justify-content: center;
  }

  .posts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .posts__item {
    margin: 0;
  }

  .posts__panorama-sign {
    margin-right: 10px;
  }
}
