.publication__description {
  padding-top: 50px;
  padding-right: 35px;
  padding-bottom: 50px;
  padding-left: 35px;

  line-height: 30px;
}

.publication__wrapper {
  padding-bottom: 28px;

  background-color: $bg-color;
}
