.publication {
  max-width: 320px;
  margin: 0 auto;
}

.publication__description {
  padding-top: 9px;
  padding-right: 30px;
  padding-bottom: 28px;
  padding-left: 30px;

  line-height: 30px;
  text-align: center;
}

.publication__wrapper {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 29px;
  padding-left: 20px;

  text-align: center;

  background-color: $bg-color;
}

@media (min-width: $tablet-width) {
  .publication {
    max-width: 660px;
    margin: 0 auto;
    margin-top: 36px;
  }

  .publication__description {
    margin-bottom: 41px;

    font-size: 18px;
  }

  .publication__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .publication__image {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .publication {
    max-width: 940px;
    margin-top: 0;
  }

  .publication__wrapper {
    margin-bottom: 35px;
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 56px;
    padding-left: 80px;
  }

  .publication__description {
    margin-top: 5px;
    margin-bottom: 38px;
    padding-top: 0;
  }
}
