.rate {
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.rate__main-cell {
  color: #ffffff;

  background-color: $navy-blue;
}

.rate__cost {
  font-size: 24px;
}

.rate__value {
  background-color: #ffffff;
}
