.rate {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: #f2f2f2;

  overflow-x: hidden;
}

.rate__list {
  position: relative;
  overflow-x: hidden;

  display: flex;

  width: 100%;

  text-align: center;
}

.rate__list tbody {
  display: flex;
  flex-direction: column;
  align-content: center;

  transform: translateX(-260px);
}

.rate__line {
  display: flex;

  overflow-x: hidden;
}

.rate__empty-cel {
  display: none;
}

.rate__line th,
.rate__line td {
  min-width: 280px;
}

.rate__line td {
  border: 1px solid $bg-color;
}

.rate__main-cell {
  color: #ffffff;

  background-color: $navy-blue;

  border-right: 1px solid $bg-color;
  border-left: 1px solid $bg-color;
}

.rate__value {
  text-align: right;
}

.rate__cost {
  font-size: 24px;
}

.rate__value-header {
  position: absolute;

  left: 290px;
  text-align: left;
}

.rate__value {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .rate {
    width: 660px;
    margin: 0 auto;
  }

  .rate__list td {
    width: 155px;
    padding: 15px;

    text-transform: none;
  }

  .rate__list {
    padding-top: 37px;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .rate {
    max-width: 1200px;
  }

  .rate__list {
    width: 100%;
  }
}
