.rate {
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.rate__list {
  margin: 0 auto;
}

.rate__main-cell {
  color: #ffffff;

  background-color: $navy-blue;
}

.rate__cost {
  font-size: 24px;
}

.rate__value {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .rate {
    width: 660px;
    margin: 0 auto;
  }

  .rate__list td {
    width: 155px;
    padding: 15px;

    text-transform: none;
  }

  .rate__list {
    padding-top: 37px;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .rate {
    max-width: 1200px;
  }

  .rate__list {
    width: 100%;
  }
}
