.reviews {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  background-color: #ffffff;
}

.reviews__list {
  @include no-style;

  margin-top: 42px;
  margin-bottom: 33px;
}

.reviews__title {
  margin: 0;

  font-size: 18px;
  color: #000000;
  line-height: 30px;
}

.reviews__text {
  margin-top: 13px;
  margin-bottom: 0;

  line-height: 30px;
}

.reviews__author {
  display: none;
}

.reviews-btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 620px;
    padding-right: 0;
    padding-left: 0;
  }

  .reviews__list {
    margin-bottom: 35px;
  }

  .reviews__item {
    @include no-style;

    display: flex;
    flex-direction: column;
  }

  .reviews__title {
    margin-top: 33px;

    font-size: 20px;
  }

  .reviews__author {
    display: block;

    font-size: 14px;
    line-height: 30px;
    color: $navy-blue;
  }

  .reviews__text {
    font-size: 18px;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;

    width: 960px;
    padding: 0;
    padding-top: 131px;

    background-image: url("../img/icon-quotes.svg");
    background-position: center 72px;
    background-repeat: no-repeat;
    background-size: 78px;
  }

  .reviews-btn {
    display: inline;
  }

  .reviews-btn__item {
    content: "";

    position: absolute;
    top: 57%;

    width: 22px;
    height: 41px;

    opacity: 0.3;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: 0;
  }

  .reviews-btn__item--forwards {
    right: 10px;

    background-image: url("../img/icon-review-arrow-right.svg");
  }

  .reviews-btn__item--back {
    left: 10px;

    background-image: url("../img/icon-review-arrow-left.svg");
  }

  .reviews-btn__item--forwards:hover,
  .reviews-btn__item--forwards:focus,
  .reviews-btn__item--back:hover,
  .reviews-btn__item--back:focus {
    opacity: 0.6;
  }

  .reviews-btn__item--forwards:active,
  .reviews-btn__item--back:active {
    opacity: 0.1;
  }

  .reviews__list {
    margin-bottom: 35px;
  }

  .reviews__item {
    width: 700px;
    margin: 0 auto;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__author {
    font-size: 18px;
    line-height: 30px;
  }
}
