.switches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 58px;
  margin: 0 auto;
}

.switches__item {
  background-color: #ffffff;

  border: 3px solid $navy-blue;
  border-radius: 3px;
  opacity: 0.3;

  align-self: center;
}

.switches__item--now {
  width: 12px;
  height: 12px;

  border: 3px solid $navy-blue;
  border-radius: 6px;
  opacity: 1;
}

@media (min-width: 660px) {
  .rate .switches {
    display: none;
  }
}

@media (min-width: 960px) {
  .switches {
    display: none;
  }
}
